.certificateData label{
    font-size: 18px;
    font-weight: 500;
    color:#888888;
   
 }
 .certificateData input{
    height: 40px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    outline: none;
    width: 661px;
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .option{
   color: #434343;
   font-size: 18px;
   font-weight: 400;
   cursor: pointer;
   height: 43px;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 .option:hover{
   background-color: #E3E3E3;
 }
 